.header {
    background-color: #49417a;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

h1 {
    padding: 5px;
border-bottom: 1px;
    color: blueviolet;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
}

body {
background: linear-gradient(to right, gray, black);

}
#logo {
    width: 150px;
    height: 150px;
}

#knifegirl {
    display: flex;
    width: 340px;
    height: 340px;
    position: relative;
 margin: 5px;
}


#squidgirl {
display: flex;
 width: 250px;
 height:350px;
 margin: 5px;
}

#dogcat {
    display: flex;
    width: 250px;
    height: 350px;
    margin: 5px;

}

