body {
    background-color: blueviolet, mediumseagreen;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left:3px solid black;
    background-color: #48407a;
    color: blueviolet;
    padding: 10px 0;
}
.title-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
nav {
    display:flex;
    font-family: AmaticSC;
    align-items:center;
    text-align: right;
}
h1 {
    font-family: AmaticSC;
    margin: 0;
    font-size: 45px;
}

img {
    
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Maintain aspect ratio */
}
#knifegirl {
    border-top-left-radius: 20px; /*border-top or bottom-left or right-radius creates soft edges*/
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;

    margin: 15px 15px;
    display: block;
    width: 340px;
    height: 340px;
 
}
#squidgirl {
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;

    display: block;
    width: 250px;
    height:350px;
    margin: 15px 15px;
}
#dogcat {
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;

    display: block;
    width: 250px;
    height: 350px;
    margin: 15px 15px;

}
#celebration {
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;

    margin: 15px 15px;
    display: block;
    width: 250px;
    height: 350px;

}
#fishgirl {
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;

    margin: 15px 15px;
    display: block;
    width: 350px;
    height: 350px;    
}
#fireflies {
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;
    
    margin: 15px 15px;
    display: block;
    width: 400px;
    height: 400px;    
}

#oceanmother {
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 15px;
    
    margin: 15px 15px;
    display: block;
    width: 300px;
    height:400px;    
}



@font-face {
    font-family: AmaticSC;
    src: url(font-faces/AmaticSC-Bold.woff) format('woff');
    
} 

@font-face {
    font-family: AmaticSC;
    src: url(font-faces/AmaticSC-Bold.woff) format('woff');
    font-weight: bolder;
} 

.image-gallery {
    background:linear-gradient(#48407a, mediumseagreen);
    flex-wrap: wrap;
    display: flex;

}