.header {
    background-color: #49417a;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    display:block;
    color: blueviolet;
    font-family: 'AmaticSC';
}

body {
background: linear-gradient(to right, gray, black);


}
#logo {

    display: block;
margin-left:auto;
margin-right: auto;
    width: 150px;
    height: 150px;
}

#knifegirl {
    display: block;
    width: 340px;
    height: 340px;
 margin: 5px;
}


#squidgirl {
display: block;
 width: 250px;
 height:350px;
 margin: 5px;
}

#dogcat {
    display: block;
    width: 250px;
    height: 350px;
    margin: 5px;

}

@import url(AmaticSC-Bold.woff);