.header {
    background-color: #49417a;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    display:block;
    color: blueviolet;
    font-family: AmaticSC;
    font-style: oblique;
    font-size: 50px;
    margin: 3px 3px;
}

body {
background: linear-gradient(to right, purple, black);


}
#logo {

    display: flex;
margin-left:auto;
margin-right: auto;
    width: 150px;
    height: 150px;
}

#knifegirl {
    margin: 15px 15px;
    display: block;
    width: 340px;
    height: 340px;
 
}
#squidgirl {

    display: block;
    width: 250px;
    height:350px;
    margin: 15px 15px;
}
#dogcat {
    display: block;
    width: 250px;
    height: 350px;
    margin: 15px 15px;

}
#celebration {
    margin: 15px 15px;
    display: block;
    width: 250px;
    height: 350px;

}
#fishgirl {
    margin: 15px 15px;
    display: block;
    width: 350px;
    height: 350px;    
}
#fireflies {
    margin: 15px 15px;
    display: block;
    width: 400px;
    height: 400px;    
}

#oceanmother {
    margin: 15px 15px;
    display: block;
    width: 300px;
    height:400px;    
}



@font-face {
    font-family: AmaticSC;
    src: url(font-faces/AmaticSC-Bold.woff) format('woff');
    
} 

@font-face {
    font-family: AmaticSC;
    src: url(font-faces/AmaticSC-Bold.woff) format('woff');
    font-weight: bolder;
} 

.image-gallery {
flex-wrap: wrap;
 display: flex;

}